<%- include('header.ejs') %> 
<div class="wrapper">
    <a href="/" class="logo">
        <img src="https://cdn-icons-png.flaticon.com/512/3410/3410476.png" width="50" height="50">
    </a>
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/3410/3410476.png">
    <div class="login">
        <a href="/login" class="btn btn-outline-primary my-2 my-sm-0" type="submit">Log in</a>
        <a href="/signup" class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Sign up</a>
    </div>
    <nav class="navbar justify-content-center navbar-expand-lg navbar-light bg-light">
        <a href="#" class="navbar-brand">Hotels</a>
        <a href="#" class="navbar-brand">Resorts</a>
        <a href="#" class="navbar-brand">Cottages</a>
        <a href="#" class="navbar-brand">Travel Inns</a>
        <a href="#" class="navbar-brand">Cabin</a>
        <a href="#" class="navbar-brand">Camping</a>
        <a href="#" class="navbar-brand">Surfing</a>
    </nav>
    
</div>